.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    text-decoration: none;
}

.custom_container {
    padding: 30px 25px;
}

.appointment {
    background-image: url("../images/quick_appointment.jpg");
    position: relative;
    margin: 0 auto;
}

.content {
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    background: rgba(0, 0, 0, 0.3); 
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             ;
}

.appointment_form {
    padding-top: 20px;
}

.copyright {
    padding-bottom: 5px;
}

.footer {
    padding-top: 40px;
    clear: both;
}

.no_decoration {
    color: inherit;
}

.no_decoration:hover {
    color: inherit;
}

.colorBlack {
    color: rgb(32, 32, 32);
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-bottom-20 {
    padding-bottom: 50px;
}

.custom_button:hover {
    text-decoration: none;
    color: yellow;
}

.width100 {
    width: 100%;
}

.centered {
    text-align: center;
}

.right_align {
    text-align: right;
}

.margin_0px {
    margin: 0;
}